<div class=" text-center">

        <div class="card-body">
          <p class="card-text">当たりました！</br>もう一度やりますか？</p>
        </div>



    <div class="col-12">
      <%= link_to("もう一度ゲームする", root_path, class: "btn btn-lg btn btn-outline-info btn-block")  %>
    </div>
</div>